name: Run Clean Up Automation

on:
  workflow_dispatch:  # allows manual trigger from Actions tab
#  push:
#    branches:
#      - master


permissions:
  contents: write
  actions: write

jobs:
  run-deepwiki:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: stable

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium webdriver-manager
          pip install -r requirements.txt || echo "No requirements.txt found, skipping"

      - name: Run Clean up
        run: python run_clean_up.py


      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add . || echo "No changes"
          
          if git diff --staged --quiet; then
            echo "has_changes=false" >> $GITHUB_OUTPUT
            echo "No changes to commit"
            exit 0
          fi
          
          echo "has_changes=true" >> $GITHUB_OUTPUT
          git commit -m "Auto-update: clean up and reports"
          git push

